<div class="person animate__animated animate__bounceInLeft">
  <div class="person-avatar">
  <img  src="img/avatar.jpeg"></img>
  </div>

  <span class="person-nickname text-xl">
    {{#if userNickname}}
    {{userNickname}}
    {{else}}
    暖阳
    {{/if}}</span>
  <span class="person-motto text-xs">
    {{#if motto}}
    {{motto}}
    {{else}}
    用代码温暖世界，用文字照亮前路
    {{/if}}
  </span>
  <div class="person-data">
    <div class="person-data--article"><span class="text-xs person-data--article-icon ">文章</span><span
        class="person-data--article-num text-base">
        {{#if articlesNum}}
        <p>p标签</p>
        {{articlesNum}}
        {{else}}
        128k
        {{/if}}
      </span></div>
    <div class="person-data--reader"><span class="text-xs person-data--reader-icon">读者</span><span
        class="person-data--reader-num text-base">
        {{#if readerNum}}
        {{readerNum}}
        {{else}}
        5.2k
        {{/if}}</span></div>
  </div>
  <span class="person-tag text-sm">
    {{#if personalTag}}
    {{personalTag}}
    {{else}}
    前端开发工程师，热爱技术分享与开源贡献。专注于React、TypeScript和现代前端工程化实践前端开发工程师，热爱技术分享与开源贡献。专注于React、TypeScript和现代前端工程化实践前端开发工程师，热爱技术分享与开源贡献。专注于React、TypeScript和现代前端工程化实践前端开发工程师，热爱技术分享与开源贡献。专注于React、TypeScript和现代前端工程化实践前端开发工程师，热爱技术分享与开源贡献。专注于React、TypeScript和现代前端工程化实践前端开发工程师，热爱技术分享与开源贡献。专注于React、TypeScript和现代前端工程化实践
    {{/if}}

  </span>
  <div class="person-nav">
    <div class="person-nav--gth person-nav--item "></div>
    <div class="person-nav--bili  person-nav--item "></div>
    <div class="person-nav--email  person-nav--item "></div>
  </div>
</div>